:root {
  --primary-text-colour: #757575;
  --title-text-colour: #212121;
  --accent-colour: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-colour);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* container */
.container.first {
  display: flex;
  height: 60px;
  align-items: center;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* page-header */
.page-header {
  background: #ffffff;
}

.header-flex {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  color: var(--accent-colour);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo:focus,
.logo-2:focus {
  color: var(--accent-colour);
}

.logo-2 {
  color: var(--title-text-colour);
}
.logo-2:hover {
  color: var(--accent-colour);
}

ul {
  list-style: none;
}

/* site-nav */

.site-nav {
  margin-left: 95px;
}

.auth-nav {
  margin-left: auto;
}

.site-nav,
.auth-nav {
  display: flex;
}

.site-nav .link {
  display: block;

  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link {
  display: block;

  color: var(--primary-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colour);
}

.site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child) {
  margin-right: 40px;
}

/* hero */
.hero {
  outline: 2px solid red;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  margin-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/* section */
.section {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #555;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-name {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-prof {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* feature */
.feature-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-element {
  width: calc((100% - 90px) / 4);
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Button */

.button {
  display: inline-block;
  color: #ffffff;
  background: #2196f3;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  width: 201px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

/* address */
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  text-decoration: none;
}
