:root {
  --primary-text-colour: #757575;
  --title-text-colour: #212121;
  --accent-colour: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-colour);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* logo */
.logo {
  color: var(--accent-colour);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo:focus,
.logo-2:focus {
  color: var(--accent-colour);
}

.logo-2 {
  color: var(--title-text-colour);
}
.logo-2:hover {
  color: var(--accent-colour);
}

ul {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colour);
}

.auth-nav .link {
  color: var(--primary-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-colour);
}

/* hero */
.hero {
  letter-spacing: 0.06em;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/* section */
.section-title {
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-name {
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* feature */
.feature-list .title {
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Button */

.button {
  color: #ffffff;
  background-color: var(--accent-colour);
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid black;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

/* address */
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  text-decoration: none;
}
