.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
  }
  
  .address p {
    color: #fff;
    margin: 0px;
  }
  
  .address p:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .address .link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .logo-footer {
    fill: #ffffff;
  }
  
  .item-footer {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .footer {
    background-color: #2f303a;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .join {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-top: 12px;
  }
  
  .join .title {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .js-speaker-form {
    justify-content: space-between;
    align-items: flex-end;
  
    width: 570px;
    height: 86px;
    margin-left: 94px;
  }
  
  .footer-email-box input[type='email'] {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
  }
  
  
  // label[for='email']
  .footer-email-box > label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  
    color: #ffffff;
  }
  
  input[placeholder='E-mail'] {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;
  }
  
  .send {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-size: contain;
    fill: #ffffff;
  }
  
  .btn {
    display: flex;
  }
  
  // @media screen and (max-width: 767px) {
  //   footer.container {
  //     width: 480px;
  //     text-align: center;
  //   }
  
  //   .join {
  //     margin-left: auto;
  //     margin-right: auto;
  //     margin-top: 60px;
  //     margin-bottom: 60px;
  //   }
  //   .js-speaker-form {
  //     margin-left: auto;
  //     margin-right: auto;
  //     width: auto;
  //   }
  //   .footer-email-box {
  //     display: block;
  //     margin-left: auto;
  //     margin-right: auto;
  //     margin-bottom: 20px;
  //     height: auto;
  //   }
  //   .footer-email-box input[type='email'] {
  //     margin-top: 20px;
  //   }
  
  //   .btn {
  //     margin-left: auto;
  //     margin-right: auto;
  //   }
  
  //   .footer {
  //     height: 603px;
  //   }
  // }
  
  // @media screen and (max-width: 1199px) {
  //   .footer .container {
  //     position: relative;
  //     width: 768px;
  //     text-align: center;
  //     padding-left: 0;
  //     padding-right: 0;
  //     padding-bottom: 0;
  //   }
  
  //   .footer-email-box {
  //     display: block;
  //     margin-left: auto;
  //     margin-right: auto;
  //     margin-bottom: 20px;
  //     height: auto;
  //     width: 450px;
  //   }
  
  //   .btn {
  //     margin-left: auto;
  //     margin-right: auto;
  //   }
  
  //   .footer {
  //     height: 463px;
  //   }
  
  //   .container-adress {
  //     position: absolute;
  //     left: 76px;
  //   }
  
  //   .join {
  //     position: absolute;
  //     right: 89px;
  //     top: 5px;
  //     margin-top: 60px;
  //     margin-bottom: 60px;
  //   }
  
  //   .js-speaker-form {
  //     margin-top: 187px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     width: auto;
  //   }
  
  //   .footer-email-box input[type='email'] {
  //     margin-top: 20px;
  //     width: 450px;
  //   }
  // }
  
  @media screen and (min-width: 1200px) {
    .js-speaker-form {
      display: flex;
    }
    .footer .container {
      display: flex;
    }
    .footer-email-box {
      padding-top: 12px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  .join {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .js-speaker-form {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .footer-email-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
  }
  .footer-email-box input[type='email'] {
    margin-top: 20px;
  }
  
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer {
    height: 603px;
  }
  
  
  
  
  @media screen and (min-width: 768px) {
    footer.container {
      width: 768px;
      text-align: center;
    }
  
    .footer-email-box {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      height: auto;
      width: 450px;
    }
  
    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  
    .footer {
      height: 463px;
    }
  
    .container-adress {
      position: absolute;
      left: 76px;
    }
  
    .join {
      position: absolute;
      right: 89px;
      top: 5px;
      margin-top: 60px;
      margin-bottom: 60px;
    }
  
    .js-speaker-form {
      margin-top: 187px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
  
    .footer-email-box input[type='email'] {
      margin-top: 20px;
      width: 450px;
    }
  }
    
  
  @media screen and (min-width: 1200px) {
    .footer .container {
      position: relative;
      width: 1200px;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  
    .footer-email-box {
      height: 86px;
      width: 358px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }
    
  }