.container-command {
  margin: -15px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 206px;
  height: 44px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.social-logo {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}

.social-item {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-item:hover {
  background-color: #2196f3;
}

.social-item:hover .social-logo {
  fill: #fff;
}

.feature-card {
  position: relative;

  width: 450px;
  height: 482px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: calc((768px - 2 * 30px) / 2);
    height: 422px;
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((1200px - 4 * 30px) / 4);
    height: 422px;
  }
  & img {
    width: 450px;
    @media screen and (min-width: 768px) {
      width: calc((768px - 2 * 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((1200px - 4 * 30px) / 4);
    }
  }
}

.feature-card:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.section.command {
  background-color: #f5f4fa;
}

.section-name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-prof {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.prof-name {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 450px;
  height: 162px;
  text-align: center;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: calc((768px - 2 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((1200px - 4 * 30px) / 4);
  }
}
