.feature-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.flex-element {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.flex-element::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 102px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-group::before {
  background-image: url(../image/Group.png);
}

.icon-clock::before {
  background-image: url(../image/clock\ 1.png);
}

.icon-diagram::before {
  background-image: url(../image/diagram\ 1.png);
}

.icon-astronaut::before {
  background-image: url(../image/astronaut\ 1.png);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.title-text {
  margin-top: 0;
  margin-bottom: 0;
}
