.work-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-item {
  width: calc((100% - 60px) / 3);
    position: relative;
  width: 370px;
  height: 294px;
}

.note {
  // position: relative;
  // width: 370px;
  // height: 294px;
}

.work-item .title {
  position: absolute;
  bottom: 0;
  width: 370px;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  text-align: center;
  vertical-align: middle;
  background: rgba(47, 48, 58, 0.8);
}
